{%extends 'base.html'%}
{%block content%}
  <div class="col-md-4 col-md-offset-4">
    <p>Login</p>
  <form action="" method="POST">
    {{form.csrf_token}}
    <div class="form-group">
      <label>Username</label>
        {{form.username(class="form-control",placeholder="Username")}}
        {%if form.errors.username%}
        <div class="alert alert-danger" role="alert">
          <ul>
          {%for e in form.errors.username%}
            <li> {{e}} </li>
          {%endfor%}
        </ul>
        </div>
        {%endif%}
      </div>
      <div class="form-group">
        <label>Password</label>
        {{form.password(class="form-control")}}
        {%if form.errors.password%}
        <div class="alert alert-danger" role="alert">
          <ul>
          {%for e in form.errors.password%}
            <li> {{e}} </li>
          {%endfor%}
        </ul>
        </div>
        {%endif%}
      </div>
      <div class="form-group">
      <label>Name</label>
        {{form.name(class="form-control",placeholder="Name")}}
        {%if form.errors.name%}
        <div class="alert alert-danger" role="alert">
          <ul>
          {%for e in form.errors.name%}
            <li> {{e}} </li>
          {%endfor%}
        </ul>
        </div>
        {%endif%}
      </div>
      <div class="form-group">
      <label>Email</label>
        {{form.email(class="form-control",placeholder="your@email.com")}}
        {%if form.errors.email%}
        <div class="alert alert-danger" role="alert">
          <ul>
          {%for e in form.errors.email%}
            <li> {{e}} </li>
          {%endfor%}
        </ul>
        </div>
        {%endif%}
      </div>
      <button type="submit" class="btn btn-default">Register</button>
</form>
</div>
{%endblock%}
